
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative; 
  background: white;
  border-radius: 8px;
  padding: 20px; 
  width: 490px;
  height: auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.label {
  font-weight: bold;
  font-size: 18px; 
  margin-bottom: 10px; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  letter-spacing: 3.5%;
}

.inputGroup,
.colorOptionsGroup {
  margin-bottom: 30px; 
  display: flex;
  align-items: center;
  gap: 20px; 
}

.input {
  flex: 0 1 60%; 
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 18px; 
  font-size: 16px;
  margin-left: 15px; 
}

.colorOptionsGroup {
  margin-top: 20px; 
}

.colorOptions {
  display: flex;
  gap: 10px;
  margin-left: 20px; 
}

.colorCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

.button {
  background-color: #001F8B;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 0px;
  cursor: pointer;
  font-size: 14px;
  width: 30%;
  max-width: 300px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(58%)
}

h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}


@media (max-width: 768px) {
  .modal {
    width: 100%; 
    max-width: 90vw; 
    padding: 15px; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    height: auto; 
    max-height: 75vh; 
  }

  .inputGroup,
  .colorOptionsGroup {
    flex-wrap: wrap; 
    gap: 10px;
  }
  
  .colorOptionsGroup {
    margin-bottom: 10px; 
  }

  .input {
    flex: 1; 
    margin-left: 0;
    padding-left: 10px; 
  }

  .colorOptions {
    margin-left: 0; 
    gap: 8px; 
  }

  .colorCircle {
    width: 25px; 
    height: 25px;
  }

  .button {
    width: 70%; 
    max-width: 300px; 
    position: static; 
    margin: 20px auto; 
    margin-left: 20px; 
    transform: none;
  }
  
  .overlay {
    padding: 10px; 
  }
  
  .label {
    font-size: 16px; 
    display: block; 
    margin-bottom: 8px; 
  }
}
