.sidebar {
  width: 300px; 
  height: 100vh; 
  background-color: white; 
  box-sizing: border-box; 
  overflow-y: auto; 
  scrollbar-width:thin; 
  scrollbar-color:  white #d9d9d9; 
  text-align: center;
}

.sidebar::-webkit-scrollbar-button {
  display: none; 
}

.sidebar::-webkit-scrollbar {
  width: 12px; 
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9; 
  border-radius: 10px; 
  border: 2px solid #f4f4f4; 
}

.sidebar::-webkit-scrollbar-track {
  background-color: #f4f4f4; 
  border-radius: 10px; 
}

.groupList {
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
  height: calc(100vh - 112px); 
  padding: 0; 
  box-sizing: border-box; 
}

.groupItem {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 10px 30px; 
  margin-bottom: 5px; 
  border-radius: 4px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.groupItem:hover {
  background-color: #e0e0e0;
}

.groupCircle {
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 20px; 
}

.groupName {
  flex-grow: 1;
  text-align: left; 
  font-weight: 500;
}

title{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
h2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 30px;
  margin-top: 50px;
  font-weight: 500;
  position: sticky;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100vw; 
    height: 100vh; 
    position: fixed; 
    left: 0;
   
    overflow-y: auto; 
  }

  h2{
    text-align: left;
    margin-left: 40px;
    
  }
  
  }